*,
*::before,
*::after
    box-sizing: border-box
    outline: none
.container
    max-width: 1530px
    margin: auto
    padding: 0 10px
img
    max-width: 100%
a
    text-decoration: none
.input
    width: 100%
.flex
    display: flex
    flex-wrap: wrap
.flex-center
    align-items: center
=comfort-bold
    font: 
        family: 'Comfortaa', sans-serif
        weight: 700