.do
    background: url(../img/fone.jpg) center top / 100% no-repeat
    width: 100%
    min-height: 928px
    &-block
        &__title
            color: #fcb800
            font-family: 'Comfortaa', sans-serif
            font-size: 40px
            font-weight: bold
            margin: 99px 0 38px
        p
            margin: 0
            max-width: 760px
            color: $white
            font-family: 'Open Sans', sans-serif
            font-size: 20px
            font-weight: bold
            line-height: 35px
        &s
            display: flex
        &__image
            position: relative
            margin-top: -109px
            